name: "[CI] Push"

defaults:
  run:
    shell: pwsh

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  placeholder:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: placeholder
        run: Write-Host "placeholder"
